@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-weight: bold;
    font-size: 1.5rem;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

h3 {
    font-weight: bold;
    font-size: 1rem;
}

.leaflet-container {
    height: 100%;
}